Source: boot-animation
Section: devel
Priority: extra
Maintainer: Seungtaek Chung <seungtaek.chung@samsung.com>, Mi-Ju Lee <miju52.lee@samsung.com>, Xi Zhichan <zhichan.xi@samsung.com>
Build-Depends: debhelper (>= 5), libelm-dev, libavsystem-dev, libslp-utilx-dev, libvconf-dev, libaudiosessionmgr-dev
Standards-Version: 3.7.2

Package: boot-animation
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libelm, libavsystem-0, libslp-utilx-0, libvconf-0, libaudiosessionmgr-0
Description: booting animation
