[Unit]
Description=Boot Animation
After=wm_ready.service sound-server.service pulseaudio.service
Before=tizen-system.target
ConditionPathExists=!/tmp/restart
ConditionKernelCommandLine=|!bootmode=silent

[Service]
Type=oneshot
Nice=-20
ExecStart=/usr/bin/boot-animation --start
ExecStart=/bin/sleep 2
ExecStartPost=/bin/touch /tmp/restart
SmackProcessLabel=boot-animation

[Install]
WantedBy=tizen-system.target
