[Unit]
Description=Late Tizen System Target
After=wm_ready.service boot-animation.service
Before=tizen-system.target

[Service]
Type=oneshot
ExecStart=/bin/sleep 3
SmackProcessLabel=boot-animation

[Install]
WantedBy=tizen-system.target

